main {
  min-width:100%;  
}
.hero {
    background-image: linear-gradient(to right, rgb(0,0,205,0.5), rgb(25,25,112,1));
}
.btn {
    background-color: rgb(0,0,205,0.5);
    ;
}
.forecast-container {
    background-color: rgb(25,25,112,0.85);
    color:white;
}